@model SETEC.Data.Entities.HistoricoClientesContrato

@{
    ViewData["Title"] = "Edit";
}
<div class="bg-white" style="padding: 0 20px 20px 20px;">
    <h1 style="color:darkslateblue;">Editar</h1>
<h4>Historico de gestiones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fechagestion" class="control-label"></label>
                <input asp-for="Fechagestion" class="form-control" />
                <span asp-validation-for="Fechagestion" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Tipo_Ingreso" class="control-label"></label>
                    <input asp-for="Tipo_Ingreso" class="form-control" />
                    <span asp-validation-for="Tipo_Ingreso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Agencia" class="control-label"></label>
                    <input asp-for="Agencia" class="form-control" />
                    <span asp-validation-for="Agencia" class="text-danger"></span>
                </div>
                      <div class="form-group">
                    <label asp-for="Gestor" class="control-label"></label>
                    <input asp-for="Gestor" class="form-control" />
                    <span asp-validation-for="Gestor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Agente" class="control-label"></label>
                    <input asp-for="Agente" class="form-control" />
                    <span asp-validation-for="Agente" class="text-danger"></span>
                </div>
             
            <div class="form-group">
                <label asp-for="Identidad" class="control-label"></label>
                <input asp-for="Identidad" class="form-control" />
                <span asp-validation-for="Identidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato" class="control-label"></label>
                <input asp-for="Contrato" class="form-control" />
                <span asp-validation-for="Contrato" class="text-danger"></span>
            </div>
         
                <div class="form-group">
                    <label asp-for="Contrato" class="control-label"></label>
                    <input asp-for="Contrato" class="form-control" />
                    <span asp-validation-for="Contrato" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Codigo_Gestion" class="control-label"></label>
                <input asp-for="Codigo_Gestion" class="form-control" />
                <span asp-validation-for="Codigo_Gestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc_gestion" class="control-label"></label>
                <input asp-for="Desc_gestion" class="form-control" />
                <span asp-validation-for="Desc_gestion" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Comentario" class="control-label"></label>
                    <input asp-for="Comentario" class="form-control" />
                    <span asp-validation-for="Comentario" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Monto_promesa" class="control-label"></label>
                <input asp-for="Monto_promesa" class="form-control" />
                <span asp-validation-for="Monto_promesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Promesa" class="control-label"></label>
                <input asp-for="Fecha_Promesa" class="form-control" />
                <span asp-validation-for="Fecha_Promesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
