@model IEnumerable<SETEC.Data.Entities.Codgestion>

@{
    ViewData["Title"] = "Indexgestioncodes";
}
<div class="bg-white rounded-3" style="padding:0 20px 20px 20px; color:darkslateblue">
    <h1>Creacion de codigos de gestion</h1>

    <p>
        <a asp-action="Create" class="btn btnB">Crear nuevo codigo de gestion</a>
    </p>
    <table class="table table-bordered table-striped table">
        <thead class="btnB">
            <tr class="text-center text-capitalize">
                <th>
                    Opciones
                </th>
                <th>
                    Codigo Gestión
                </th>
                <th>
                   Descripcion
                </th>
          
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-primary btn-outline-primary bi bi-pen"></a> |
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger btn-outline-primarybi bi-x-lg"></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idgestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescGestion)
                    </td>
                  
                </tr>
            }
        </tbody>
    </table>
</div>
