html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centro {
    position: relative;
   
}

.centroHijo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;

}

.ReadRecord {
    background-color: lightsteelblue;
   
}

.btnC {
    border: 2px solid darkslateblue; /* Borde outline color navy */
    width: 250px;
    padding: 2px 2px 10px 2px;
    background-color: transparent; /* Fondo transparente */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor de apuntar */
    border-radius: 5px;
}

.btnA {
    width: 200px;
    padding: 2px 2px 10px 5px;
    
    background-color: transparent; /* Fondo transparente */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor de apuntar */
    border-radius: 5px;
    
}

    .btnA:hover {
     
        border: 2px solid darkslateblue; /* Borde outline color navy */
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5); /* Sombra azul al pasar el mouse */
        
    }

    .btnA:active {
        background-color: darkslateblue; /* Relleno completo al presionar */
        color: white; /* Texto blanco al presionar */
        box-shadow: none; /* Sin sombra al presionar */
        
    }


.button  {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 10px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

    .button::before, .button::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
    }

    .button::before {
        top: -1em;
        left: -1em;
    }

    .button::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
    }

    .button:hover::before, .button:hover::after {
        height: 410px;
        width: 410px;
    }

    .button:hover {
        color: rgb(10, 25, 30);
    }

    .button:active {
        filter: brightness(.8);
    }

    .formlog {
       align-items:center;
        border: 3px solid grey;
        background-color: lightblue;      
    }


.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

    .input-container input, .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
    }

    .input-container input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 300px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

    .signup-link a {
        text-decoration: underline;
    }

.logo {
} 

#data-table {
    max-width: 50px;
    margin: 0 auto;
}

#data-table th, td {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}



.formlog {
}

.table-container {
    max-height: 800px; /* Define la altura máxima del contenedor */
    overflow-y: scroll; /* Activa la barra de desplazamiento vertical */
    border: 1px solid #ccc; /* Agrega un borde para mejorar la apariencia */
}

#data-table {
    position: sticky; /* Fijar al desplazarse */
    top: 0; /* Fijar en la parte superior */
}


@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


.btnB {
    background-color: darkslateblue;
    color:white;

}

.background {
    background: linear-gradient(138deg, rgba(3,30,69,1) 0%, rgba(26,47,112,1) 53%, rgba(104,7,126,1) 100%);
}

.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: linear-gradient(138deg, rgba(3,30,69,1) 0%, rgba(26,47,112,1) 53%, rgba(104,7,126,1) 100%);

}


.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
 
}

    .header div {
        float: left;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 35px;
        font-weight: 200;
    }

        .header div span {
            color: #5379fa !important;
        }

.LoginHeader {
    position: absolute;
    background: transparent;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    position: absolute;
    background: transparent;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 350px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: white;
}

    .login input[type=text] {
        width: 260px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 10px;
        margin: 10px 0 0 0;
        border-radius: 5px;
    }

    .login input[type=password] {
        width: 260px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 5px;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }

  
  

  
    .login input[type=text]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }

    .login input[type=password]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }

  

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
}

#loadingOverlay {
    position: fixed;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}