
@{
	ViewData["Title"] = "Home Page";
}


<div class="login">
	<br>
	<br>
	<h1 class="text-center text-white">Bienvenido<span style="color:darkviolet;"></span></h1>
	<br>
	<p>@ViewBag.User</p>
	<br>
	<br>

	<h5 class="text-center text-white">SofTech<span style="color:darkviolet;">HN</span></h5>
	

</div>


