@model SETEC.Data.Entities.ActualidadCliente
@inject IJsonHelper Json;
@using Newtonsoft.Json;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://git.sheetjs.com/sheetjs/sheetjs.git"></script>
</head>

<div class="bg-white rounded-3" style="padding: 0 20px 0 20px;">
<h3 class="bg-white" style="color:darkslateblue;">Carga masiva de cartera actual</h3>

<div class="bg-white">
    <h6>Antes de cargar el archivo asegurese que la informacion sea la correcta: </h6>
    <form class="form-control">
        <input type="file" class="form-control" id="FileAddress" readonly>
    </form>

    <form method="post" id="uploadForm" onsubmit="sendForm(event)" class="form-control" action="InsertarDatos">
        <input type="text" id="datos" name="datos">
        <button class="btn btn-primary btnB">Cargar Archivos</button>
        <label for="eliminar">Desea eliminar los datos anteriores?</label>
        <input type="checkbox" value="true" id="eliminar" name="eliminar">
    </form>
    <br />
    <br />
    <br />
    <h6>Informacion del archivo cargado a cargar: </h6>
    <div class="table-container">

        @using (Html.BeginForm("InsertarDatos", "Actual", FormMethod.Post))
        {

            <!--<input type="submit" value="Insertar Datos" />-->
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="20%" id="data-table">
                <thead class="btnB">
                    <tr>
                        <th>Fecha_Agenda</th>
                        <th>Gestor</th>
                        <th>Nombre</th>
                        <th>Antiguedad</th>
                        <th>Canal_de_venta</th>
                        <th>Articulos</th>
                        <th>Tipo_de_cartera</th>
                        <th>Dias_de_atraso</th>
                        <th>Monto_mensual_Factura</th>
                        <th>Saldo_total_credito</th>
                        <th>Saldo_en_Mora</th>
                        <th>Descuento</th>
                        <th>Pago_con_descuento</th>
                        <th>Vencimiento_factura</th>
                        <th>Contrato</th>
                        <th>Numero_telefono</th>
                        <th>Identidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>

        }
    </div>

</div>
</div>

@section scripts
    {

    <script>



        function sendForm(e) {
            e.preventDefault();

            var eliminarCheck = document.getElementById("eliminar");
            var dataValidate = document.getElementById("datos");
            console.log(eliminarCheck.value);
            console.log(dataValidate.value);
            if (dataValidate.value === '')
            {
                Swal.fire('Mensaje del Sistema', 'Debe subir un archivo para la carga', 'error');
            }
            else 
            {
                if (eliminarCheck.checked) {
                    Swal.fire(
                        {
                            title: '¿Esta seguro que desea insertar los datos? Se eliminaran los registros anteriores de la tabla',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sí'
                        }).then((resultado) => {
                            if (resultado.isConfirmed) {
                                const formulario = document.getElementById('uploadForm');
                                formulario.submit();
                            }
                        })
                }
                else {
                    Swal.fire(
                        {
                            title: '¿Esta seguro que desea insertar los datos? Los datos subidos anteriormente se mantendran',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Sí'
                        }).then((resultado) => {
                            if (resultado.isConfirmed) {
                                const formulario = document.getElementById('uploadForm');
                                formulario.submit();
                            }
                        })
                }

            }
        }


    </script>

}

