@{
    ViewData["Title"] = "Contacto";
}


<div class="col-md-6 offset-md-3">
    

        <form class="form">
    
            <p class="form-title">Para responder tus consultas</p>
            <div class="input-container">
                <input placeholder="Tema Consulta" id="tema">
            </div>
            <div class="input-container">
                <input placeholder="email" id="email">
            </div>
            <div class="input-container">
                <input type="text" placeholder="Detalle de la pregunta" id="detallep">
            </div>
   
            <button type="submit" class="submit">
                Enviar Mensaje
            </button>

        </form>
    
</div>