@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-6 offset-md-3" >
    
    <img class="col-md-6 offset-md-3" src="~/img/icono-sistemas-de-gestion-y-rse.png" />
    

        <form class="form-control">
            
            <div class="form-control form-floating">
                <input id="UserInput" class="form-control">
                <label for="UserInput" class="text-primary text fw-bold">USUARIO:</label>
            </div>
            <div class="form-control form-floating">
                <input id="UserPassword" type="password" class="form-control">
                <label for="UserPassword" class="text-primary text fw-bold">PASSWORD:</label>
            </div>
            <div class="form-control form-floating">
                <input id="UserCompaign"class="form-control" />
                <label id="UserCompaign" class="text-primary text fw-bold">COMPAÑIA:</label>    
            </div>
            <br/>
            <button class="btn btn-primary col-md-6 offset-md-3" >
            Ingresar
            </button ">
        </form>

       
    
</div>
